.battle {
  height: 100vh;
  background-image: url('../../images//inside_tower.png');
  background-size: cover;
}

.header {
  background-color: black;
}

.turn {
  text-align: center;
  margin-top: 20px;
}

.player {
  text-align: center;
}

.enemy {
  text-align: center;
}

.player-img {
  width: 80px;
  height: 100px;
}

.enemy-img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.hp {
  color: white;
}

.shield {
  color: white;
}

.character {
  margin-top: 150px;
}

.energy {
  margin-top: 50px;
  color: white;
  font-weight: bold;
}

.card-list {
  justify-content: center;
}

.nameplate {
  margin-right: 5px;
  &:hover {
    position: relative;
    top: -8px;
    left: -8px;
    z-index: 1;
  }
}

.select-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deck, .cemetery {
  background-color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 0px;
  width: 48px;
  height: 76px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

.deck {
  left: 50px
}

.deck:before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  width: 48px;
  height: 76px;
  border-top: solid 2px currentColor;
  border-left: solid 2px currentColor;
}

.deck:after {
  content: '';
  position: absolute;
  left: -16px;
  top: -16px;
  width: 48px;
  height: 76px;
  border-top: solid 2px currentColor;
  border-left: solid 2px currentColor;
}

.cemetery {
  right: 50px;
}

.cemetery:before {
  content: '';
  position: absolute;
  left: 8px;
  top: -8px;
  width: 48px;
  height: 76px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
}

.cemetery:after {
  content: '';
  position: absolute;
  left: 16px;
  top: -16px;
  width: 48px;
  height: 76px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
}

.draw-button {
  margin-top: 30px;
}

.deck-count, .cemetery-count {
  position: relative;
  top: 80px;
  left: 5px;
}

.turn-end {
  text-align: right;
}

.damage {
  animation: once-flash 2s forwards;
}

@keyframes once-flash {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
