.root-select {
  height: 100vh;
  background-image: url('../../images/inside_tower.png');
  background-size: cover;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid skyblue;
  border-radius: 50%;
}

.line {
  position: absolute;
  border: 1px solid skyblue;
}

.next-stage {
  &:hover {
    animation: flash 1s linear infinite;
    background-color: aqua;
  }
}

.clear {
  background-color: aqua;
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
