.game-title {
  min-height: 100vh;
  background-image: url('../../images/gameTitle.png');
  background-size: cover;
}

.title {
  margin-bottom: 100px;
  color: white;
}

.player {
  text-align: center;
}

.player-img {
  width: 50px;
  height: 100px;
  margin-bottom: 15px;
}
